<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure class="aboutimg">
                            <img src="images/Samuu.jpg" alt="thapa" title="thapatechnical" class="img-fluid" style="width: 400px;height: 400px ">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p style="font-size: 250%">Welcome to Our Live Weather information App</p>
                        <p>I am <span class="txt_clr"> Samruddhi Wagh </span> <span class="txt_clr">Final year Btech student from VNIT Nagpur</span>, and an Enthusiastic coder and developer and a quick learner wanting to work as a software developer.</p>
                        <p>I am a <span class="txt_clr">Student Mentor Coordinator</span> and worked as <span class="txt_clr"> Head of Operations in E-cell</span> VNIT Nagpur </p> 
                        <a href="" target="_gfg"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    {{>footer}}
</body>

</html>